@mixin large {
	@include font-size($larger);
	height: 42px !important;
}

.field .input.large {
	@include large;
}

.alert.large {
	@include large;
	padding: 5px 10px 0; 
}

section {
	margin-bottom: 15px;
}

.row {
	@extend section;
}

.btn {
	& > * {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&.disabled {
		background-color: rgb(230, 230, 230) !important;
	}
}