<h1>Translate!</h1>
<div ng-show="loadingData">
	<h2 class="text-center">Lataa sanoja...</h2>
</div>
<div ng-hide="loadingData">
	<section>
		<h3 class="text-center" ng-show="scores">{{scores}} scores</h3>
		<h2 class="lead text-center">{{question.word}}</h2>
		<div class="field" ng-class="{danger: error, success: success}">
			<input class="large xxwide text input" type="text" ng-model="userAnswer" ng-keypress="keyPress($event)">
			<!-- <div class="medium primary btn"><a href="#">Try it out</a></div> -->
		</div>
	</section>
	<div class="row text-center" ng-show="tip">
		<h3>Tip: <strong>{{tip}}</strong></h3>
	</div>
	<div class="row">
		<div class="btn large primary push_two four columns" ng-class="{disabled:!userAnswer}">
			<button ng-click="validate()" ng-disabled="!userAnswer">Try</button>
		</div>
		<div class="btn large success four columns" ng-class="{disabled:tipUsed}">
			<button ng-click="showTip()" ng-disabled="tipUsed">Give a Tip</button>
		</div>
	</div>
</div>
